@import "tailwindcss";

@theme {
  --color-netflix-red: #E50914;
  --color-netflix-dark: #141414;
}

@layer base {
  body {
    @apply bg-netflix-dark text-white font-sans antialiased overflow-x-hidden;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
